#logo button{
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 50%; /* Adjust this value to control the image size */
    height: auto;
}
h1 p{
    text-align: center; /* Centers the text horizontally */
    color: blue;
}
html{
    background-color: wheat;
}
div{
    text-align: center;
}